.App {
    width: 100vw; /* Define a largura do elemento .App para ocupar 100% da largura da viewport (janela de visualização). */
    height: 100vh; /* Define a altura do elemento .App para ocupar 100% da altura da viewport. */
    background-image: linear-gradient(90deg, #002F52 35%, #326589); /* Aplica um fundo com um gradiente linear de 90 graus, começando com a cor #002F52 (um azul escuro) e transicionando para a cor #326589 (um azul mais claro) a 35% da largura. */
  }
  
  
  li {
    list-style: none; /* Remove os marcadores padrão das listas não ordenadas ou ordenadas (bullets ou números). */
  }
  